apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-key-secret
  namespace: cert-manager
type: Opaque
data:
  api-key: "{{ cloudflare_api_token }}"
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
 name: letsencrypt-dns
 namespace: cert-manager
spec:
 acme:
   # The ACME server URL
   server: https://acme-v02.api.letsencrypt.org/directory
   # Email address used for ACME registration
   email: {{ letsencrypt_user }}
   # Name of a secret used to store the ACME account private key
   privateKeySecretRef:
     name: letsencrypt-api-dns
   solvers:
   - dns01:
       cloudflare:
          email: {{ cloudflare_user }}
          apiTokenSecretRef:
            name: cloudflare-api-key-secret
            key: api-key